# Dependencies
node_modules

# Build output
dist
build

# Logs
npm-debug.log
pnpm-debug.log
yarn-debug.log

# Environment variables
.env
.env.*

# Prisma generated
/src/generated/prisma

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json

# Git
.git
